.build*
.DS_Store

.idea/.name

.idea/demo.iml

.idea/workspace.xml

.idea/vcs.xml

.idea/dictionaries/Taylor.xml

.idea/jsLibraryMappings.xml

.idea/misc.xml

.idea/modules.xml

.meteor/versions

.meteor/versions

.meteor/packages

.meteor/packages
